{% extends "layout.html" %}
{% block body %}
<!-- Page Header-->
<header class="masthead" style="background-image: url(' {{url_for('static',filename='img/home-bg.jpg')}} ')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Admin Panal</h1>
          <span class="subheading">Make some change and Updates</span>
        </div>
      </div>
    </div>
  </div>
</header>

<hr>
<h3>Basic Action</h3>

<button class="byn btn-primary" ><a href="/edit/0">Add A New Post</a></button>
<button class="byn btn-primary" ><a href="/logout">Log out</a></button>
<hr>

<h3>Upload A Flie</h3>
<form action="/uploader" method="post" enctype="multipart/form-data">
 <input type="file" name="file" >
 <button type="submit" class="byn btn-primary">submit </button>


</form>

<hr>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Contant</th>
      <th scope="col">Date</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  {% for post in posts %}
  <tbody>
    <tr>

      <td>{{post.sno}}</td>
      <td>{{post.title}}</td>
      <td>{{post.cantent}}</td>
      <td>{{post.date}}</td>
      <td><a href="/edit/{{post.sno}}"><button class="byn btn-primary">Edit</button></a></td>
      <td><a href="/delete/{{post.sno}}"><button class="byn btn-primary">Delete</button></a></td>
    </tr>

  </tbody>
  {% endfor %}
</table>

</div>
{% endblock %}