altgraph==0.17.2
auto-py-to-exe==2.11.0
autopep8==1.6.0
blinker==1.4
bottle==0.12.19
bottle-websocket==0.2.9
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
comtypes==1.1.10
distlib==0.3.4
docutils==0.18.1
Eel==0.12.4
filelock==3.4.2
Flask==2.0.2
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.5.1
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
google-api-core==2.3.2
google-api-python-client==2.33.0
google-auth==2.3.3
google-auth-httplib2==0.1.0
googleapis-common-protos==1.54.0
greenlet==1.1.2
httplib2==0.20.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-examples==2.0.0
Kivy-Garden==0.1.4
MarkupSafe==2.0.1
mysqlclient @ file:///C:/Users/hp/Desktop/blog%20in%20flask/mysqlclient-1.4.6-cp39-cp39-win_amd64.whl
pefile==2021.9.3
Pillow==9.0.0
platformdirs==2.4.1
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio @ file:///F:/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
pycodestyle==2.8.0
pycparser==2.21
pygal==2.4.0
Pygments==2.10.0
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.3
pyparsing==3.0.6
pypiwin32==223
pyttsx3==2.90
pywin32==302
pywin32-ctypes==0.2.0
requests==2.26.0
rsa==4.8
six==1.16.0
SpeechRecognition==3.8.1
SQLAlchemy==1.4.29
toml==0.10.2
uritemplate==4.1.1
urllib3==1.26.7
virtualenv==20.12.0
Werkzeug==2.0.2
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.4.0
